.authPage {
    height: 100%;
    width: 100%;
    background-color: rgba(180, 220, 220, 1);
    border-bottom: 2px solid rgba(255, 204, 153, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;

}



.authContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 90dvh;
    width: 100%;

}

.authPage h3 {
    font-size: 3rem;
    background-color: rgba(255,255,255, .7);
    box-shadow: 0 4px 10px rgb(150, 180, 190); 
    backdrop-filter: blur(20px); /* The blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    grid-column: 4 / span 6;
    border-radius: 15px;
    padding: 25px;
    align-self: center;
    justify-self: center;
}

.authSwitch {
    background-color: rgba(255,255,255, .7);
}

.authSwitch:hover {
    background-color: rgba(235, 235, 235, .7);
    cursor: pointer;
}

@media (max-width:900px) {
    .authPage {
        height: 100%;
        padding-top: 12.5px;
        margin-bottom: 50px;
    }
    .authContainer {
        height: 100%;
        display: grid; 
        grid-template-columns: repeat(5, 1fr);
    }
    .authPage h3 {
        font-size: 1.5rem;
        grid-column: span 5;
    }
}
