.gridContainer {
    /* background-color: lightblue; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* gap: 20px; Optional: Adds space between grid items */
}

.gridContainer h1 {
    margin-left: 20px;
    margin-top: 20px;
}

.gridContainer h3 {
    font-size: 3.5rem;
    grid-column: span 14;
    margin-left: 20px;
    padding-top: 50px;
}

.heroImageContainer {
    border-bottom: 2px solid rgba(255, 204, 153, 1);
    grid-column: span 14; /* Takes full width */
    height: 75dvh;
    background-image: url("../../../Images/oceanicLuxHeroImage.webp");
    background-size: cover;
    background-position: center;
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    backdrop-filter: blur(10px);
    height: 100%;
}

.headerContainer {
    grid-column: span 14;
    padding-top: 25px;    
}

.headerContainer h1 {
    font-size: 7rem;
    font-weight: 400;

}

.headerContainer h3 {
    font-size: 5rem;
    font-weight: 400;
    padding: 10px 0px;
}

.aboutContainer {
    background-color: rgba(180, 220, 220, 1);
    grid-column: span 14; /* Takes full width */
   display: grid; /* Make this a grid container */
   grid-template-columns: repeat(10, 1fr);
   border-bottom: 2px solid rgba(255, 204, 153, 1);
}

.aboutContent {
    grid-column: span 10; /* Start from column 2 and span 10 columns */
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    padding: 20px;
    backdrop-filter: blur(10px); /* The blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.aboutFlex {
    margin-bottom: 50px;
    padding: 25px;
    grid-column: 2 / span 8;
    line-height: 1.6;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    backdrop-filter: blur(10px); /* Adds frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(200, 240, 240, 1); 
}

.aboutFlex p {
    font-weight: 500;
    font-size: 2.25rem;
    margin: 25px 0px
}

.cartContainer {
    background-color: rgba(230, 230, 230, 1);
    border-bottom: 2px solid rgba(255, 204, 153, 1);
    grid-column: span 14;
}

.productContainer {
    background-color: rgba(180, 220, 220, 1);
    border-bottom: 2px solid rgba(255, 204, 153, 1);
    grid-column: span 14; /* Takes full width */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.productFishContainer {
    grid-column: 2 / span 8;
}

/* @media (max-width: 1024px) {
    .gridContainer {}
    .headerGrid {}
    .aboutContainer {}
    .aboutContent {}
    .aboutFlex {}
    .productContainer {}
} */
@media (max-width: 1025px) {
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .headerGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .aboutContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .aboutContent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .productContainer {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    img {
        max-width: 250px;
        height: auto;
    }
}

@media (max-width: 900px) {
    .headerContainer h1 {
        font-size: 5rem;
        margin-left: 0px;
        padding-left: 0px;
    }
    .gridContainer h3 {
        font-size: 3.5rem;
        margin-left: 0px;
        padding-left: 0px;
    }

    .aboutContent {
        padding: 0px;
    }

    .aboutFlex p {
        font-size: 2rem;
    }

    .productContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .productFishContainer {
        grid-column: span 5;
        grid-template-columns: (auto-fit, minmax(250px, 1fr));
    }
}