.cartOrderDetail {
  display: grid; 
  grid-template-columns: repeat(10, 1fr)

}

.cartOrderDetailLineItemsMap {
  display: grid;
  grid-column: 2 / span 8;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Responsive, 4-column grid */
  gap: 20px; /* Space between items */
}

.cartOrderDetailOrderTotal {
  padding: 20px 0;
  text-align: center;
  grid-column: 4 /span 4;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5%;
  margin: 20px;

}

@media (max-width:900px) {
  .cartOrderDetail {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  .cartOrderDetailLineItemsMap {
    grid-column: 2 / span 6;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .cartOrderDetailOrderTotal { 
  grid-column: 3 / span 4
  }
}

@media (max-width:500px) {
  .cartOrderDetailOrderTotal {
    grid-column: 2 / span 6;
  }
}