.cartOrderDetail {
  background-color: lightgreen;
  /* grid-column: 1 / span 9; */
  /* Ensures it spans the right columns */
  display: grid; 
  grid-template-columns: repeat(10, 1fr)
  /* Set it to grid to prepare for internal grids */
  /* gap: 20px; */
}

.cartOrderDetailLineItemsMap {
  display: grid;
  grid-column: 2 / span 8;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive, 4-column grid */
  grid-auto-rows: 500px;
  gap: 20px; /* Space between items */
  /* padding: 10px; */
}

.cartOrderDetailOrderTotal {
  padding: 20px 0;
  text-align: center;
  grid-column: span 12;
}