.App {

}

.navContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0;
    height: 50px;
    z-index: 1000;
    position: sticky;
    background-color: white;
    padding-right: 20px;
}



img {
    max-width: 250px;
    max-height: auto;
}
