.App {

}

.navContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0;
    height: 50px;
    z-index: 1000;
    position: sticky;
    background-color: white;
}

.headerGrid {
    /* padding: 10px 10px 0px 10px; */
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

.headerContainer {
    grid-column: 2 / span 16
}

.headerContainer h1 {
    font-size: 7rem;
}

.headerContainer h3 {
    font-size: 5rem;
}

img {
    max-width: 250px;
    max-height: auto;
}
