.App {

}

.navContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    top: 0;
    height: 50px;
    z-index: 1000;
    position: sticky;
    background-color: white;
}

.headerContainer {
    padding: 10px 10px 0px 10px;
}

.headerContainer h1 {
    font-size: 7rem;
}

.headerContainer h3 {
    font-size: 5rem;
}

img {
    max-width: 250px;
    max-height: auto;
}
