/* CSS Custom Properties */
:root {

}

#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', sans-serif, 'Helevtica Neue';
}

h1, h3 {
  font-family: 'Josefin Sans', 'Noto Sans', 'Helvetica Neue';
}

button {
  border: 2px solid rgba(255, 204, 153, 1); /* Gold accent */
  margin: 5px 0px;
  color: black;
  border-radius: 15px;
  padding: 10px;
}



.scroll-y {
  overflow-y: scroll;
}

.form-container {
  padding: 3vmin;
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  gap: 1.25vmin;
  color: var(--text-light);
}



