.fishCardBackGround {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Responsive, 4-column grid */
    gap: 20px; /* Space between items */
    margin-bottom: 50px;
}

@media (max-width: 500px) {
    .fishCardBackGround {
       grid-column: span 8;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     
       
    }
}