.fishCardBackGround {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Responsive, 4-column grid */
    gap: 20px; /* Space between items */
    margin-bottom: 50px;
}
